* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1403_62 {
  width: 100%;
  height: 603px;
  background: url("../images/v1403_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1403_59 {
  width: 991px;
  height: 603px;
  background: rgba(4,4,4,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1403_63 {
  width: 951px;
  height: 500px;
  background: rgba(255,254,250,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 22px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1403_64 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 769px;
  overflow: hidden;
}
.v1403_65 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 536px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1403_67 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 444px;
  left: 604px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1403_74 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 445px;
  left: 142px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_75 {
  width: 176px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 717px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_76 {
  width: 288px;
  color: rgba(255,254,250,1);
  position: absolute;
  top: 34px;
  left: 41px;
  font-family: Montserrat;
  font-weight: Bold;
  opacity: 1;
  text-align: left;
}
.v1403_77 {
  width: 147px;
  height: 36px;
  background: rgba(255,254,250,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 479px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1403_78 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 519px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1403_79 {
  width: 123px;
  height: 36px;
  background: rgba(255,254,250,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 628px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1403_80 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 666px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1403_81 {
  width: 107px;
  height: 36px;
  background: rgba(255,254,250,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 753px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1403_82 {
  width: 96px;
  height: 36px;
  background: rgba(255,254,250,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 862px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1403_83 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 883px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1403_84 {
  width: 29px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 790px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1403_85 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 356px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_86 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 899px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_87 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 779px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_88 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 648px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_112 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 510px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_89 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 123px;
  left: 721px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_90 {
  width: 542px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 467px;
  left: 37px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_91 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 37px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1403_92 {
  width: 228px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 129px;
  left: 472px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_93 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 431px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1403_94 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 469px;
  left: 604px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1403_95 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 128px;
  left: 348px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_96 {
  width: 296px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 129px;
  left: 41px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_97 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 141px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_98 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 472px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_99 {
  width: 114px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 322px;
  left: 139px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_100 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 319px;
  left: 714px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1403_101 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 892px;
  overflow: hidden;
}
.v1403_102 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 321px;
  left: 469px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1403_105 {
  width: 22px;
  height: 22px;
  background: url("../images/v1403_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 902px;
  overflow: hidden;
}
.v1403_106 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 317px;
  overflow: hidden;
}
.v1403_107 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 258px;
  overflow: hidden;
}
.v1403_108 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 538px;
  overflow: hidden;
}
.v1403_109 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 385px;
  overflow: hidden;
}
.v1403_110 {
  width: 24px;
  height: 24px;
  background: url("../images/v1403_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 245px;
  overflow: hidden;
}
.v1403_111 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 344px;
  left: 718px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
